<div class="card bg-dark text-white">
  <div class="mat-card-header">{{titulo}}</div>
    <div class="card-body">
      <form>

        <div class="form-group row">
          <label for="nombreusuario" class="col-form-label col-sm-2">Nombre Usuario</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
                   [(ngModel)]="llamarusuario.name"
                   name="nombreusuario">
          </div>
        </div>

        <div class="form-group row">
          <label for="nombreemail" class="col-form-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
                   [(ngModel)]="llamarusuario.email"
                   name="nombreemail">
          </div>
        </div>

        <div class="form-group row">
          <label for="nombredesignation" class="col-form-label col-sm-2">Salario</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
                   [(ngModel)]="llamarusuario.designation" name="nombredesignation">
          </div>
        </div>

        <div class="form-group row">
          <label for="nombrephoneNumber" class="col-form-label col-sm-2">Numero Telefono</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
                   [(ngModel)]="llamarusuario.phoneNumber"
                   name="nombrephoneNumber">
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-6">

            <!-- v*ngIf="!llamarusuario._id else elseBlock"-->
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!idUser else elseBlock">Crear</button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()'>Actualizar</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>

</div>
